﻿body {
	margin:0;
	padding:0;
	font-family: Verdana,Geneva,sans-serif;
	font-size:11px;
	min-width:1000px;
}
	body.font-size-10 {
		font-size: 10px;
	}
	body.font-size-11 {
		font-size: 11px;
	}
	body.font-size-12 {
		font-size: 12px;
	}
	body.font-size-13 {
		font-size: 13px;
	}
	body.font-size-14 {
		font-size: 14px;
	}
	body.font-size-15 {
		font-size: 15px;
	}
	body.font-size-16 {
		font-size: 16px;
	}

		body.font-size-13 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_1_2,
		body.font-size-14 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_1_2{
			width:450px;
		}
		body.font-size-13 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_2_2,
		body.font-size-14 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_2_2{
			margin:0 0 0 450px;
		}

		body.font-size-15 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_1_2,
		body.font-size-16 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_1_2{
			width:500px;
		}
		body.font-size-15 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_2_2,
		body.font-size-16 div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_2_2{
			margin:0 0 0 500px;
		}




a,
span.link {
	color: #005BAB;
}
a.inactive,
span.inactive,
span.link.inactive {
	font-style:italic;
	color:#999;
	text-decoration:line-through;
}
.margin-bottom-10{
	margin-bottom:10px;
}
.breakable {
	word-break: break-all;
}


span.block {
	display:block;
}

div.initialising {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(182,182,182,1);
	z-index:999999999999;
}
	div.initialising > div {
		position:absolute;
		top:50%;
		left:50%;
		/*background-color:#58595b;*/
		color:#000;
		padding:10px 20px;
		transform:translate(-50%,-50%);
	}

div.loading{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,.75);
	z-index:999999999998;
}
	div.loading > div {
		position:absolute;
		top:50%;
		left:50%;
		background-color:#58595b;
		color:#fff;
		padding:10px 20px;
		transform:translate(-50%,-50%);
	}


div.header-fade {
	position: fixed;
	left: 0;
	right: 0;
	top: 50px;
	height: 10px;
	background: -moz-linear-gradient(top, rgba(182,182,182,1) 0%, rgba(182,182,182,0) 100%);
	background: -webkit-linear-gradient(top, rgba(182,182,182,1) 0%,rgba(182,182,182,0) 100%);
	background: linear-gradient(to bottom, rgba(182,182,182,1) 0%,rgba(182,182,182,0) 100%);
	z-index:99999;
	pointer-events: none;
}
div.header{
	z-index:999999;
	position:fixed;
	left:0;
	top:0;
	right:0;
	height:50px;
	color:#fff;
	min-width:1000px;
	background: #58595b;
	background: -moz-linear-gradient(top,  #58595b 0%, #818286 100%);
	background: -webkit-linear-gradient(top,  #58595b 0%,#818286 100%);
	background: linear-gradient(to bottom,  #58595b 0%,#818286 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#818286',GradientType=0 );
	border-bottom:#58595b;
}

	div.header div.logo {
		cursor:pointer;
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		width:120px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: url(/assets/logo.png);
	}


	div.header ul.menu {
		list-style: none;
		position: absolute;
		left: 140px;
		right:270px;
		bottom: 15px;
		margin: 0;
		padding:0;
		text-align:center;
	}
		div.header ul.menu > li {
			display:inline-block;
			margin:5px 10px 0 0;
			position:relative;
		}
			div.header ul.menu > li .btn,
			ul.side-menu > li .btn {
				font-size: 13px;
				background-color: #B6B6B6;
			}
			div.header ul.menu > li.has-sub-menu:hover > .btn {
				border-radius:5px 5px 0 0;
				-moz-border-radius:5px 5px 0 0;
				-webkit-border-radius:5px 5px 0 0;
			}
			div.header ul.menu > li:hover > ul.submenu {
				display:block;
			}
			
			div.header ul.menu > li > ul.submenu {
				display:none;
				position: absolute;
				list-style: none;
				padding: 0;
				z-index: 99999999999999;
				min-width:150px;
				/*
				transform: translate(-50%,0);
				left: 50%;
				*/
			}
			div.header ul.menu > li > ul.submenu > li {
				display: block;
			}
				div.header ul.menu > li > ul.submenu > li > a.btn {
					display: block;
					text-align:left;
					border-radius:0;
					-moz-border-radius:0;
					-webkit-border-radius:0;
				}
					div.header ul.menu > li > ul.submenu > li > a.btn > span {
						white-space:nowrap;
					}
				




	div.header .account-bar {
		position:absolute;
		right:0;
		bottom:0;
		width:250px;
		text-align:right;
	}
		div.header .account-bar > * {
			margin: 10px 10px 0 0;
			display: inline-block;
		}
		div.header .account-bar > a.logout-btn {
			margin: 5px 10px 5px 0;
		}


div.main{
    background-color: #B6B6B6;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 20px;
    overflow: auto;
	min-width:1000px;
}

div.footer-fade {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	height: 10px;
	background: -moz-linear-gradient(top, rgba(182,182,182,0) 0%, rgba(182,182,182,1) 100%);
	background: -webkit-linear-gradient(top, rgba(182,182,182,0) 0%,rgba(182,182,182,1) 100%);
	background: linear-gradient(to bottom, rgba(182,182,182,0) 0%,rgba(182,182,182,1) 100%);
	pointer-events: none;
	z-index:99999;
}

div.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	color: #fff;
	background: #58595b;
	background: -moz-linear-gradient(top, #58595b 0%, #818286 100%);
	background: -webkit-linear-gradient(top, #58595b 0%,#818286 100%);
	background: linear-gradient(to bottom, #58595b 0%,#818286 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#818286',GradientType=0 );
}
	div.footer > p {
		padding: 3px;
		margin:0;
	}


.btn {
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	padding:4px 10px;
	position: relative;
	text-decoration: none;
	background-color:#999;
	font-weight: bold;
	font-size:11px;
}
.btn.active,
.btn:hover {
	color:#58595B;
	text-shadow:none;
}

.text-btn{
	cursor:pointer;
}
	.text-btn:hover {
		color: #005BAB;
		text-decoration:underline;
	}




div.layoutcols{

}
div.layoutcols:after{
	clear:both;
	display:block;
	content:"";
}
	div.layoutcols div.layoutcol {
		margin:0;
	}
		div.layoutcols div.layoutcol.layoutcol_1_2,
		div.layoutcols div.layoutcol.layoutcol_1_3 {
			width: 280px;
			float: left;
		}
	div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_1_2 {
		width: 400px;
		float: left;
		position: fixed;
		left: 0;
		overflow: auto;
		bottom: 30px;
		top: 60px;
	}
		div.layoutcols div.layoutcol.layoutcol_2_2 {
			margin: 0 0 0 280px;
		}
	div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_2_2 {
		margin: 0 0 0 400px;
	}
		div.layoutcols div.layoutcol.layoutcol_2_3 {
			margin: 0 280px;
		}
		div.layoutcols div.layoutcol.layoutcol_3_3 {
			width: 280px;
			float: right;
		}
		div.layoutcols div.layoutcol > div{
			padding:10px;
		}
		div.layoutcols div.layoutcol.layoutcol_1_2 > div,
		div.layoutcols div.layoutcol.layoutcol_1_3 > div {
			padding: 10px 0 10px 10px;
		}
	div.layoutcols.layoutcol_fixedleft_400 div.layoutcol.layoutcol_1_2 > div {
		padding: 0 0 10px 10px;
	}
		div.layoutcols div.layoutcol.layoutcol_3_3 > div{
			padding:10px 10px 10px 0;
		}





.component{
	border:solid 1px #58595b;
	margin:0 0 10px 0;
	background-color:#fff;
	/*
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	*/
}
	.component > h3,
	table.table-list tr th,
	div.pager,
	h1.pager-header,
	div.tabs-container > ul.tabs-menu {
		/*
		border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		*/
		margin:0;
		padding:2px 5px;
		color: #fff;
		background: #58595b;
		background: -moz-linear-gradient(top, #58595b 0%, #818286 100%);
		background: -webkit-linear-gradient(top, #58595b 0%,#818286 100%);
		background: linear-gradient(to bottom, #58595b 0%,#818286 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#818286',GradientType=0 );
	}
	.component > div {
		padding:10px;
	}




.component.login-control {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
	.component.login-control dl > dt {
		display:inline-block;
		width:100px;
		text-align:right;
	}
	.component.login-control dl > dd {
		display:inline-block;
		margin: 0 5px;
	}

.component.expander {

}
	.component.expander > h3 {
		cursor:pointer;
		position:relative;
	}
	.component.expander > h3:hover {
		text-decoration:underline;
	}
	.component.expander.expander > h3 > span.icon {
		background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_ffffff_256x240.png);
		background-repeat: no-repeat;
		position: absolute;
		width: 16px;
		height: 16px;
		right: 0px;
		top: 50%;
		transform: translate(0,-50%);
		/*pointer-events: none;*/
	}
	.component.expander.expander-expanded > h3 > span.icon {
		background-position: -192px -48px;
	}
	.component.expander.expander-collapsed > h3 > span.icon {
		background-position: -224px -48px;
	}
	.component.expander.expander-expanded > div {
		display:block;
	}
	.component.expander.expander-collapsed > div {
		display:none;
	}



	







table.table-list {
	width: 100%;
	border-collapse: collapse;
	border: solid 1px #000;
	word-break:break-all;
}
	table.table-list tr th {
		border-radius: 0;
	}
	table.table-list tr td {
		border-top: solid 1px #000;
		padding: 5px 15px;
		background-color:#fff;
		white-space:nowrap;
	}
	table.table-list.table-no-overflow tr td {
		max-width:0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
		table.table-list tr td.breakable {
			white-space:normal;
		}
	table.table-list tr.alt-row td {
		background-color: #eee;
	}
	table.table-list tr.disabled-row td {
		background-color: #ccc;
		font-style: italic;
	}
		table.table-list tr td.align-center {
			text-align: center;
		}
	table.table-list tr:hover td,
	table.table-list tr.alt-row:hover td,
	table.table-list tr.disabled-row:hover td {
		background-color:#ccc;
	}




span.hl-green,
span.hl-yellow,
span.hl-red {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px 20px;
}
span.hl-green {
	background-color: rgb(200,255,200);
	border: solid 1px rgb(0,100,0);
	color: rgb(0,100,0);
}
span.hl-yellow {
	background-color: rgb(255,255,200);
	border: solid 1px rgb(100,100,0);
	color: rgb(100,100,0);
}
span.hl-red {
	background-color: rgb(255,200,200);
	border: solid 1px rgb(100,0,0);
	color: rgb(100,0,0);
}




div.model-div{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,.9);
	z-index:999999;
}
	div.model-div > div.model-div-content {
	    position: absolute;
		top: 60px;
		left: 40px;
		right: 40px;
		bottom: 40px;
		color: #000;
		overflow: auto;
		border: solid 1px #58595b;
		padding: 10px;
		background-color: #fff;
	}

	div.model-div > .model-div-close-btn {
		position: absolute;
		right: 40px;
		top: 40px;
		display: block;
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 9;
		background-image:url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_ffffff_256x240.png);
		background-repeat:no-repeat;
		background-position:-30px -190px;
	}
		div.model-div > .model-div-close-btn:hover {
			background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_888888_256x240.png);
		}
	div.model-div > h3.model-div-header {
		position: absolute;
		left: 40px;
		right: 40px;
		top: 40px;
		height: 20px;
		margin: 0;
		padding: 2px 5px;
		color: #fff;
		background: #58595b;
		background: -moz-linear-gradient(top, #58595b 0%, #818286 100%);
		background: -webkit-linear-gradient(top, #58595b 0%,#818286 100%);
		background: linear-gradient(to bottom, #58595b 0%,#818286 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#818286',GradientType=0 );
		border:solid 1px #818286;
	}



ul.errors,
ul.messages,
ul.warnings {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 10px 0;
	padding: 5px 0 0 20px;
}

	ul.errors > li,
	ul.messages > li,
	ul.warnings > li {
		padding: 0 0 5px 0;
	}

ul.errors {
	background-color: #ffcccc;
	border: solid 1px #660000;
}

	ul.errors > li {
		color: #660000;
	}

ul.messages {
	background-color: #ccffcc;
	border: solid 1px #006600;
}
	ul.messages > li {
		color: #006600;
	}

ul.warnings {
   background-color: #ffffcc;
	border: solid 1px #666600;
}
	ul.warnings > li {
		color: #666600;
	}

div.popup-message {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.8);
	border:none;
	padding: 0;
	z-index: 999999;
	margin: 0;
}
	div.popup-message > div {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 999999;
		width: 400px;
		transform: translate(-50%,-50%);
		margin: 0;
		padding: 0;
	}
		div.popup-message > div > .model-div-close-btn {
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			width: 20px;
			height: 20px;
			cursor: pointer;
			z-index: 9;
			background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_ffffff_256x240.png);
			background-repeat: no-repeat;
			background-position: -30px -190px;
		}
		div.popup-message > div > h3.model-div-header {
			left: 40px;
			right: 40px;
			top: 40px;
			margin: 0;
			padding: 2px 5px;
			color: #fff;
			background: #58595b;
			background: -moz-linear-gradient(top, #58595b 0%, #818286 100%);
			background: -webkit-linear-gradient(top, #58595b 0%,#818286 100%);
			background: linear-gradient(to bottom, #58595b 0%,#818286 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595b', endColorstr='#818286',GradientType=0 );
			border: solid 1px #818286;
		}
		div.popup-message > div > div.model-div-content {
			position: relative;
			left: 0;
			right: 0;
			bottom: 0;
			color: #000;
			overflow: auto;
			border: solid 1px #58595b;
			padding: 10px;
			background-color: #fff;
		}



span.checkbox-list{
	display:inline-block;
	height:200px;
	/*width:250px;*/
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	border:solid 1px #999;
}
	span.checkbox-list > label {
		display: block;
		cursor:pointer;
		white-space:nowrap;
		padding:2px 2px;
	}
	span.checkbox-list > label.alt-row {
		border-top:solid 1px #999;
		border-bottom:solid 1px #999;
	}
		span.checkbox-list > label.alt-row:first-child {
			border-top: none;
		}
		span.checkbox-list > label:hover,
		span.checkbox-list > label.alt-row:hover {
			background-color: #ccc;
		}



div.form{
	border:solid 1px #999;
	margin:0 0 10px;
}
	div.form > dl {
		margin: 0;
		padding: 10px;
		position:relative;
	}
		div.form > dl:nth-child(2n+1) {
			background-color: #f6f6f6;
		}
		div.form > dl > dt {
			display: inline-block;
			width: 200px;
			text-align: right;
			vertical-align: top;
		}
		div.form > dl > dd {
			display: inline-block;
			text-align: left;
			margin: 0 0 0 10px;
			vertical-align: top;
		}

		div.form.small-form > dl > dt {
			display: block;
			width:auto;
			text-align: left;
		}
		div.form.small-form > dl > dd {
			display: block;
			text-align: left;
			margin: 0;
		}

		div.form.medium-form > dl > dt {
			width:100px;
			text-align:right;
			float:left;
		}
		div.form.medium-form > dl > dd {
			text-align: left;
			display:block;
			float:left;
			width:215px;
		}
		div.form.medium-form > dl:after{
			clear:both;
			display:block;
			content:"";
		}
	div.form.small-form > dl > dd input[type='text'],
	div.form.small-form > dl > dd textarea {
		width:100%;
	}
		div.form.small-form > dl > dd input[type='text'].short-textinput {
			width: auto;
		}

	div.form.tiny-form {
	}
		div.form.tiny-form > dl > dt {
			width: 150px;
		}
		div.form.tiny-form > dl > dd {
			font-weight:bold;
		}




span.error {
	background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_990000_256x240.png);
	background-position: 0 -144px;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	cursor: help;
}

	span.error > span {
		position: absolute;
		top: -3px;
		right: 9999px;
		width: 200px;
		margin-right: -215px; /* width + left/right padding */
		padding: 5px 10px;
		color: #900;
		z-index: 999999;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		background: #fee;
		border: solid 1px #900;
		-webkit-box-shadow: 2px 2px 5px #aaa;
		-moz-box-shadow: 2px 2px 5px #aaa;
		box-shadow: 2px 2px 5px #aaa;
		opacity: 0;
		-webkit-transition: opacity 250ms ease-out;
		-moz-transition: opacity 250ms ease-out;
		-ms-transition: opacity 250ms ease-out;
		-o-transition: opacity 250ms ease-out;
		transition: opacity 250ms ease-out;
	}

		span.error > span:before {
			content: ' ';
			position: absolute;
			top: 13px;
			left: -16px;
			width: 0;
			height: 0;
			margin-top: -8px;
			border: 8px solid transparent;
			border-right-color: #900;
		}

	.activefield span.error > span,
	span.error:hover > span {
		right: -20px;
		opacity: 1;
	}





div.form.small-form > dl {
	border-top: solid 1px #ccc;
}
div.form.small-form > dl:first-child{
	border-top:none;
}
div.form.small-form > dl.expander {
	padding:0;
}
	div.form.small-form > dl.expander.expander-expanded {
	}	
	div.form.small-form > dl.expander.expander-collapsed {
	}
	div.form.small-form > dl.expander > dt {
		padding:10px;
		cursor:pointer;
		position:relative;
	}
		div.form.small-form > dl.expander > dt:hover {
			background-color:#ccc;
		}
		div.form.small-form > dl.expander > dt > span {
			display: block;
		}
			div.form.small-form > dl.expander > dt > span.icon {
				background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_888888_256x240.png);
				background-repeat: no-repeat;
				position:absolute;
				width:16px;
				height:16px;
				right:0px;
				top:50%;
				transform:translate(0,-50%);
				/*pointer-events: none;*/
			}
	div.form.small-form > dl.expander.expander-expanded > dt > span.icon {
		background-position: -192px -48px;
	}
	div.form.small-form > dl.expander.expander-collapsed > dt > span.icon {
		background-position: -224px -48px;
	}

	div.form.small-form > dl.expander > dd {
		padding:10px;
	}
	div.form.small-form > dl.expander.expander-expanded > dd {
		display: block;
	}
	div.form.small-form > dl.expander.expander-collapsed > dd {
		display: none;
	}
	div.form.small-form > dl > dd > select {
		width: 100%;
	}
		div.form.small-form > dl > dd > select.right-aligned-select {
			width: auto;
			float: right;
		}







div.form.medium-form > dl.expander {
	position:relative;
}
	div.form.medium-form > dl.expander > dt > span.icon,
	div.form.medium-form > dl.expander > dd > span.icon {
		cursor: pointer;
		background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_888888_256x240.png);
		background-repeat: no-repeat;
		position: absolute;
		width: 16px;
		height: 16px;
		right: 0px;
		top: 50%;
		transform: translate(0,-50%);
		/*pointer-events: none;*/
	}
	div.form.medium-form > dl.expander.expander-expanded > dt > span.icon,
	div.form.medium-form > dl.expander.expander-expanded > dd > span.icon {
		background-position: -192px -48px;
	}
	div.form.medium-form > dl.expander.expander-collapsed > dt > span.icon,
	div.form.medium-form > dl.expander.expander-collapsed > dd > span.icon {
		background-position: -224px -48px;
	}






.component > h3.has-pager:after{
    clear: right;
    display: block;
    content: "";
}
.component > h3.has-pager > span {
	float:left;
	padding:2px 5px;
}
.component > h3.has-pager > h1.pager-header {
    float: right;
    margin: 0;
    border-radius: 10px 0 0 10px;
    background-color: rgba(255,255,255,.25);
    border: solid 1px #999;
}
.component > h3.has-pager > h1.pager-header > span{
	padding-left:10px;
}
.component > h3.has-pager > h1.pager-header > span:last-child{
	padding-right:10px;
}
.component > h3.has-pager div.pager {
	border:none;
	margin:0;
}


/*BEGIN PAGER*/
h1.pager-header {
	font-size:11px;
	margin:0 0 10px 0;
}

	h1.pager-header > span {
		padding-right: 50px;
	}

		h1.pager-header > span:last-child > span {
			color: #fff;
			margin-left: 5px;
		}

div.pager {
	padding: 5px 1px;
	margin:10px 0 0 0;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border: solid 1px #999;
}

	div.pager p {
		color: #fff;
		float: left;
		margin: 0 10px 0 0;
	}

		div.pager p select {
			border: 1px solid #999;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}




	div.pager > span {
		cursor: pointer;
		color: #333;
		border: solid 1px #999;
		font-size: 11px;
		font-weight: bold;
		background: #eeeeee;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
		height: 16px;
		display: inline-block;
	}

		div.pager > span:hover {
			background: none;
			background-color: #fff;
		}

		div.pager > span.disabled {
			opacity: .25;
			cursor: default;
		}

		div.pager > span.first {
			-moz-border-radius: 3px 0 0 3px;
			-webkit-border-radius: 3px 0 0 3px;
			border-radius: 3px 0 0 3px;
			border: solid none solid solid;
		}
		div.pager > span.last {
			-moz-border-radius: 0 3px 3px 0;
			-webkit-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
		}
		div.pager > span.prev {
			border: solid none solid solid;
		}
		div.pager > span.next {
			border: solid none solid solid;
		}
		div.pager > span.pageno {
			margin-left: 3px;
			padding: 0px 4px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
		div.pager > span > span {
			display: inline-block;
			height: 16px;
			text-align:center;
			vertical-align:top;
		}
		div.pager > span.first > span,
		div.pager > span.last > span,
		div.pager > span.prev > span,
		div.pager > span.next > span {
			min-width: 16px;
			background-image: url(jquery-ui-1.11.2.custom/images/ui-icons_222222_256x240.png);
			background-repeat: no-repeat;
		}
		div.pager > span.first > span {
			background-position: -80px -160px;
		}
		div.pager > span.last > span {
			background-position: -64px -160px;
		}
		div.pager > span.prev > span {
			background-position: -96px -16px;
		}
		div.pager > span.next > span {
			background-position: -32px -16px;
		}
			



/*END PAGER*/










div.tabs-container {
}
	div.tabs-container > ul.tabs-menu {
		padding: 5px 5px 0 5px;
		margin: 0;
		border-top: solid 1px #58595b;
		border-left: solid 1px #58595b;
		border-right: solid 1px #58595b;
		background-color: #ccc;
	}
		div.tabs-container > ul.tabs-menu > li {
			list-style: none;
			display: inline-block;
			cursor: pointer;
			padding: 5px 10px;
			margin: 0;
			border: solid 1px #58595b;
			border-radius:3px 3px 0 0;
			-moz-border-radius:3px 3px 0 0;
			-webkit-border-radius:3px 3px 0 0;
			background-color:rgba(255,255,255,.15);
		}
			div.tabs-container > ul.tabs-menu > li:hover {
				background-color: rgba(255,255,255,.4);
			}
			div.tabs-container > ul.tabs-menu > li.active-tab,
			div.tabs-container > ul.tabs-menu > li.active-tab:hover {
				background:none;
				background-color:#fff;
				border-bottom:solid 1px #fff;
				cursor:default;
			}
			div.tabs-container > ul.tabs-menu > li > a {
				color:#fff;
				font-weight:bold;
				font-size:12px;
			}
			div.tabs-container > ul.tabs-menu > li.active-tab > a {
				color:#58595b;
			}
	div.tabs-container > div.tab {
		padding:10px;
		border: solid 1px #58595b;
		background-color:#fff;
		margin:-1px 0 0 0;
	}




div.span-3cols{
	position:relative;
	text-align:center;
}
	div.span-3cols > span:first-child,
	div.span-3cols > span:last-child {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%,0);
	}
	div.span-3cols > span:first-child {
		left: 0;
		transform: none;
	}
	div.span-3cols > span:last-child {
		left: auto;
		right: 0;
		transform: none;
	}
	div.span-3cols > span > span {
		display: inline-block;
		padding: 3px;
	}


div.note {
	background-color:#ffff99;
	border: solid 1px #999900;
	margin: 0 0 10px 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
	div.note > div.note-body {
		padding:10px;
	}
		div.note > div.note-body textarea {
			width:100%;
			height:80px;
		}
	div.note > div.note-header {
		background-color:rgba(0,0,0,.25);
		position:relative;
		text-align:center;
		font-weight:bold;
		color:#333300
	}
	div.note > div.note-footer {
		padding: 3px;
		background-color: rgba(0,0,0,.25);
		text-align: right;
		font-weight: bold;
		color:#333300
	}













div.deal {
	background-color: #ccc;
	border: solid 1px #999;
	margin: 0 0 10px 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
	div.deal > div.deal-header {
		position: relative;
		text-align: center;
		height: 20px;
		font-weight: bold;
		color: #333;
		cursor: pointer;
	}
	div.deal.deal-expanded > div.deal-header,
	div.deal.deal-collapsed > div.deal-header:hover {
		background-color: rgba(0,0,0,.25);
	}
	div.deal > div.deal-header > span {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 35%;
		/* transform: translate(-50%,0); */
		white-space: nowrap;
		max-width: 65%;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 60%;
	}
	div.deal > div.deal-header > span:first-child {
		left: 0;
		transform: none;
		width: 30%;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	div.deal > div.deal-header > span:last-child {
		left: auto;
		right: 0;
		transform: none;
	}
		div.deal > div.deal-header > span > span {
			display: inline-block;
			padding: 3px;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}
	div.deal > div.deal-header > span.icon{
		background-image: url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_222222_256x240.png);
		background-repeat: no-repeat;
		position: absolute;
		width: 16px;
		height: 16px;
		right: 0px;
		top: 50%;
		transform: translate(0,-50%);
		/*pointer-events: none;*/
	}
	div.deal.deal-expanded > div.deal-header > span.icon {
		background-position: -192px -48px;
	}
	div.deal.deal-collapsed > div.deal-header > span.icon {
		background-position: -224px -48px;
	}



	div.deal > div.deal-body {
		padding:10px;
	}
		div.deal > div.deal-body > div.deal-body-text {
			white-space:pre-wrap;
			padding: 10px;
			margin: 0;
			background-color: rgba(255,255,255,.25);
			border: solid 1px rgba(0,0,0,.25);
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		div.deal > div.deal-body textarea {
			width:100%;
			height:80px;
		}
	div.deal > div.deal-footer {
		padding: 3px;
		background-color: rgba(0,0,0,.25);
		text-align: right;
		font-weight: bold;
		color:#000033;
	}


	div.deal.deal-collapsed > div.deal-body,
	div.deal.deal-collapsed > div.deal-footer {
		display:none;
	}




ul.side-menu {
	padding: 0;
	list-style: none;
}
	ul.side-menu > li {
		display: block;
		margin: 0 0 10px 0;
	}
		ul.side-menu > li > a {
			display: block;
		}




svg > text {
    display: none;
}




span.fav {
	background-position:-224px -112px;
	display:inline-block;
	width:16px;
	height:16px;
	cursor:pointer;
}
	span.fav.fav-isfav {
		background-image:url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_ef8c08_256x240.png);
	}
	span.fav.fav-notfav {
		background-image:url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_888888_256x240.png);
	}


div.split-50-50:after{
	clear:both;
	display:block;
	content:"";

}
div.split-50-50 > div:first-child {
	width: 50%;
	float: left;
	padding-right: 5px;
}
div.split-50-50 > div:last-child {
	margin-left: 50%;
	padding-left: 5px;
}











/*BEGIN DATEPICKER*/
.datepicker {
	display: inline-block;
}

	.datepicker > span > input[type="text"] {
		border: solid 1px #999;
		width: 95px !important;
		cursor: pointer;
		font-style: normal;
		background-image: url("/assets/calendar.gif");
		background-repeat: no-repeat;
		background-position: right center;
	}

	.datepicker > span > input:last-child {
		margin-left: 5px;
	}


/*END DATEPICKER*/














/*BEGIN REPORTS*/

.th-sortable {
	cursor: pointer;
}

	.th-sortable:hover {
		color: #999;
	}

	.th-sortable > span:last-child {
		background-image:url(/styles/jquery-ui-1.11.2.custom/images/ui-icons_888888_256x240.png);
		background-repeat: no-repeat;
		background-position: 100px 100px;
		height: 12px;
		width: 14px;
		display: inline-block;
	}

/*	.th-sortable:hover > span:last-child {
		background-image: url("/assets/icons-999999.png");
	}
	*/
	.th-sortable.th-sortable-asc > span:last-child {
		background-position: -63px 0;
	}

	.th-sortable.th-sortable-desc > span:last-child {
		background-position: 2px 0;
	}


div.tablecontainer {
	overflow-x: auto;
	max-height:400px;
	border: 1px solid #999;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	margin-bottom: 10px;
}

	div.tablecontainer.paged {
		margin-bottom: 0;
		border-radius: 0;
		border-top: none;
		border-bottom: none;
	}

	div.tablecontainer > table {
		width: 100%;
		border: none;
	}

	div.tablecontainer.autowidth > table {
		width: auto;
	}

	div.tablecontainer table tr {
	}

		div.tablecontainer table tr th,
		div.tablecontainer table tr td {
			padding: 3px 8px;
			vertical-align: top;
			white-space: nowrap;
		}

			div.tablecontainer table tr th:last-child,
			div.tablecontainer table tr td:last-child {
				width: 1000px;
			}

		div.tablecontainer table tr th {
			color: #333;
			/*border-top: solid 1px #999;*/
			border-bottom: solid 1px #999;
			font-size: 10px;
		}

		div.tablecontainer table tr td {
			background-color: #fff;
			border-top: 1px solid #dfdfdf;
		}

		div.tablecontainer table tr.alt td {
			background-color: #f5f5f5;
		}

		div.tablecontainer table tr:hover td,
		div.tablecontainer table tr.alt:hover td {
			background-color: #999;
		}


	div.tablecontainer table tfoot tr th {
		font-weight: normal;
		text-align: left;
	}

		div.tablecontainer table tfoot tr th span.link {
			color: #fff;
			padding: 0 0 0 5px;
		}

.reporticon.reporticon-xlsx {
    background-position: 3px -106px;
}

.reporticon.reporticon-csv {
    background-position: 2px -71px;
}
.reporticon {
    margin-right: 10px;
    background-image: url(/assets/report-icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    padding: 2px 6px 2px 24px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    border: solid 1px #ccc;
}
.link{
	cursor:pointer;
}
/*END REPORTS*/


/*BEGIN FILTER*/
fieldset.filterbar,
fieldset.filter {
	border: none;
	border: solid 1px #999999;
	padding: 0;
	background-color: #efefef;
}

fieldset.filterbar {
	margin: 0;
	border-bottom: none;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

fieldset.filter {
	margin: 0 0 10px 0;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

	fieldset.filterbar > legend,
	fieldset.filter > legend {
		display: none;
	}

	fieldset.filterbar dl,
	fieldset.filter dl {
		padding: 5px 10px;
		margin: 0;
		display: inline-block;
		vertical-align:top;
	}

	fieldset.filter dl {
		border-bottom: 1px solid #ccc;
		width: 220px;
	}
	/*
		fieldset.filter dl:last-child {
			border-bottom: none;
			display: block;
		}*/

		fieldset.filterbar dl dt,
		fieldset.filter dl dt {
			padding: 0;
			font-size: 11px;
			white-space: nowrap;
			overflow: hidden;
		}

fieldset.filterbar dl dt,
fieldset.filterbar dl dd {
	display: inline;
}

fieldset.filterbar dl dd,
fieldset.filter dl dd {
	margin: 0;
}

fieldset.filterbar dl dt span,
fieldset.filter dl dt span {
	font-size: 11px;
	font-weight: bold;
}

fieldset.filter dl dd input[type="text"] {
	width: 200px;
}
fieldset.filter dl dd.affiliate-select input[type="text"] {
	width: 60px;
}

fieldset.filterbar dl dd select,
fieldset.filter dl dd select {
	max-width: 220px;
}
fieldset.filter dl dd.affiliate-select select {
	max-width: 120px;
}
/*END FILTER*/




.serial-checkboxes > label{
	width:150px;
	min-width:150px;
	max-width:150px;
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

div.form.inline-200{
	-moz-column-width:200px;
	-webkit-column-width:200px;
	column-width: 200px;
}

div.form.inline-200 > dl,
div.form.inline-200 > dl:nth-child(2n+1) {
	white-space:nowrap;
	display: inline-block;
	width: 200px;
	background-color: #fff;
	border:solid 1px #f6f6f6;
}
div.form.inline-200 > dl.block{
	display:block !important;
}


div.form.inline-300{
	-moz-column-width:300px;
	-webkit-column-width:300px;
	column-width: 300px;
}

div.form.inline-300 > dl,
div.form.inline-300 > dl:nth-child(2n+1) {
	white-space:nowrap;
	display: inline-block;
	width: 300px;
	background-color: #fff;
	border:solid 1px #f6f6f6;
}
div.form.inline-300 > dl.block{
	display:block !important;
}


dl dt.banned{
	color:#990000;
}
dl dt.targets{
	color:#009900;
}